<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure class = "fig">
                            <img src="images/photo.jpg" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h3>I Am <span class="text_clr">An MBA student specializing in Business Analytics with a solid foundation in Computer Science and Software Development.
                            Proficient in Python, SQL, Power BI (DAX, Power Query), and web technologies like Django, HTML, CSS. Experienced in data
                            analysis, ETL processes, data visualization, and database management. Adept at optimizing SQL performance and using datadriven insights to solve business problems. Also familiar with basic finance, accounting principles, cost analysis, and financial
                            analysis.
                        </h3>
                        <a href="https://www.instagram.com/ranvijay271199?igsh=MTBjaGtzOGtzZnQ2Yg==" target="_thapa"><button>About me</button></a>
                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}
</body>

</html>